@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat:400,700';
@import "partials/forms";

$brand-color: #FFDC10;
$advert-label-color: #A36500;
$fancy-font: 'Josefin Slab', serif;

// App Styles
body { padding-top: 140px; background: #F1F1F1;
    @media (min-width: 768px) { padding-top: 90px; }
}
body.auth-body {
    padding-top: 113px;
    @media (min-width: 768px) { padding-top: 134px; }
}

// Navigation
.ww-navbar {
    background-color: $brand-color;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 8px 0 0 rgba(0,0,0,0.1);
    background-image: url(/images/bg-icons-15.png);
    background-size: 396px;
    background-position: 0 -30px;
    // background-blend-mode: color-burn;
    background-repeat: repeat;

    .navbar-toggle .icon-bar { border: 1px solid black; }

    .nav > li { padding: 0 0.3rem; }

    .nav > li > a:hover, .nav > li > a:focus { background-color: transparent; }

    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: transparent;
    }

    .navbar-btn.navbar-btn-ww {
        padding: 7px 18px;
        background-color: transparent;
        border-radius: 100px;
        border: 2px solid rgba(0, 0, 0, 0);

        &.navbar-btn-ww--cta {
            border: 2px solid rgba(0, 0, 0, 0.2);
        }

        &:hover {
            border: 2px solid rgba(0, 0, 0, 0);
            background-color: white;
        }
    }

    .navbar-right {
        margin-right: 0;
    }

    @media (max-width: 767px) {
        .navbar-form { margin-top:0; margin-bottom: 0; }
    }
}

// Nav - authenticated user
.auth-nav {
    background-color: rgba(0,0,0,0.68); margin-bottom: 15px;
    @media (min-width: 768px) { position: fixed; right: 0; left: 0; z-index: 1029; top: 50px; margin: 0;}
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li { padding: 0; position: relative;
        a.auth-nav-item {
            color: white;
            position: relative;
            float: left;
            padding: 5px 7px 10px 7px;
            margin-top: 8px;
            font-size: 12px;

            @media (min-width: 768px) { font-size: 14px; padding: 14px 14px 18px 14px; }

            &:hover { text-decoration: none; }

            &[aria-selected="true"]:before {
                position: absolute;
                content: '';
                bottom: 0;
                left: 7px;
                right: 7px;
                height: 4px;
                background: #FFDC10;

                @media (min-width: 768px) { left: 14px; right: 14px; }
            }
        }
    }
}

// List of Adverts
#adverts {
    a.panel-job-links {
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
    .panel {
        .panel-body { position: relative; padding-right: 48px; }

        .business-name { font-weight: bold; font-size: 12px; margin-bottom: 5px; opacity: 1; text-transform: uppercase; }
        .job-title { font-weight: bold; font-size: 18px; margin-bottom: 8px; }
        .salary { font-size: 16px; font-weight: normal; margin-bottom: 0; }
        .currency { top: -0.25em; margin-right: 0.2em; }
        .amount { border-bottom: 2px solid; border-bottom-color: rgba(0,0,0,0.1); display: inline-block; }
        .rate { font-size: 0.7em; opacity: 0.8; }
        .location {}
        .street {}
        .skill {}
        .avatar-tn { position: absolute; right: 10px; bottom: 10px; border-radius: 100px; }
    }
}

#advert-view {
    background-color: #F1F1F1;
}

#advert {
    .panel-body {
        h3{ font-size: 12px; font-weight: bold; text-transform: uppercase; color: $advert-label-color; letter-spacing: 0.1em;}
        .job-title { font-weight: bold; font-size: 18px; margin-bottom: 8px; margin-top: 10px; }
        .business-name { font-weight: bold; font-size: 12px; margin-bottom: 5px; opacity: 1; text-transform: uppercase;
            small {
                display: block;
                margin-bottom: 5px;
            }
        }
        .salary { font-size: 16px; font-weight: normal; margin-bottom: 16px; }
        .currency { top: -0.25em; margin-right: 0.2em; }
        .amount { border-bottom: 2px solid; border-bottom-color: rgba(0,0,0,0.1); display: inline-block; }
        .rate { font-size: 0.7em; opacity: 0.8; }
        .description { line-height: 24px; margin-bottom: 30px; }
        .location {}
        .street {}
        .skill {}
    }
}

// Adverts - New
.panel-ww-600 {
    max-width: 600px;
}

.ww-salary-input {
    .ww-salary-input--currency { padding-left: 6px; padding-right: 4px; background-color: transparent; }
    .ww-salary-input--amount { min-width: 50px; padding: 6px; box-shadow: none; height: 34px; }
    .ww-salary-input--rate { /*font-size: 10px;*/ background-color: transparent; height: 34px;
        // label { padding-left: 10px; font-weight: bold; }
        // input[type="radio"] { margin-left: -12px; }
    }
}

// Launch Site Styles
header {
    padding-bottom: 107px;

    .brand-ww
    {
        background-color: $brand-color;
        border-bottom: 2px solid rgba(0,0,0,0.2);
        box-shadow: 0 8px 0 0 rgba(0,0,0,0.1);
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .title
    {
        padding: 24px 0 16px 0;
    }
}

h2.question {
    font-family: $fancy-font;
    font-size: 2.5rem;
    text-align: center;
}

h3.question {
    font-family: $fancy-font;
    // font-size: 2.5rem;
    text-align: center;
}

h4.features {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.content .catchers {
    // border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1);
}

#catch-part-timers {
    background: $brand-color;

    .catch-box
    {
        padding: 20px;
        margin-left: 0;

        @media (min-width: 48em) {
            padding: 5%;
        }

        @media (min-width: 62em)
        {
            padding: 5%;
            margin-left: 20%;
        }

        // Extra large devices (large desktops, 75em and up)
        @media (min-width: 75em) {
            padding: 15%;
            margin-left: 20%;
        }
    }
}

#catch-employers {

    .catch-box
    {
        padding: 20px;
        margin-right: 0;

        @media (min-width: 48em) {
            padding: 5%;
        }

        @media (min-width: 62em)
        {
            padding: 5%;
            margin-right: 20%;
        }

        // Extra large devices (large desktops, 75em and up)
        @media (min-width: 75em) {
            padding: 15%;
            margin-right: 20%;
        }
    }
}

.embed-responsive {
    padding-bottom: 340px;
}

.atau {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 39px;
    height: 39px;
    top: 0;
    bottom: 0;

    &.hidden-md-up {
        top: initial;
        bottom: -19px;
    }
}


/*****************************
Flash message styling section
******************************/

$flash-margin: 10px;
$flash-padding: 10px;
$flash-text: center;

.Alert--Info {

    background: #cccccc;
    color: #000000;
    margin: $flash-margin;
    padding: $flash-padding;
    text-align: $flash-text;
}

.Alert--Success {

    background: #b3ffb3;
    color: #000000;
    margin: $flash-margin;
    padding: $flash-padding;
    text-align: $flash-text;

}

.Alert--Error {

    background: #ff704d;
    color: #000000;
    margin: $flash-margin;
    padding: $flash-padding;
    text-align: $flash-text;
}


/**********************************
search autocomplete styling section
**********************************/

.algolia-autocomplete {

    width:100%;
}

.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}

.algolia-autocomplete .aa-hint {
  color: #999;
}

.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  background-color: yellow;
  font-style: normal;
}


/**********************************
category checkbox styling section
**********************************/

.ais-refinement-list--label > input[type="checkbox"] {

    margin-right: 5px;
}

.ais-refinement-list--count {

    background: #ddd;

    padding: 0px 5px 0 5px;
}


/**********************************
search results styling section
**********************************/

.panel-default em {

    background-color: yellow;
    font-style: normal;
}


/**********************************
subscribe plan styling section
**********************************/

ul.plan {

   list-style-type: square;
   margin-top: 30px;
}

.plan-choices {
    label { display: block; }
    input { float: left; }
    span { margin-left: 30px; }
}

/**********************************
checkout styling section
**********************************/

.checkout {

    margin-top: 20px;
}

/**********************************
comment styling section
**********************************/

.form-group-comment {

    width: 500px;
}

/**********************************
dropzone styling section
**********************************/

.dropzone {

    height: 200px;
    width: 200px;
}

/**********************************
tagsinput styling section
**********************************/
.bootstrap-tagsinput{
    width: 100%;
}

/**********************************
FTU styling section
**********************************/
.levels {
    margin: 20px 0;
    padding: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    height: 30px;

    > li {
        display: table-cell;
        float: none;
        width: 1%;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 7px;
            position: absolute;
            margin: 12px 0;
            background-color: #7ED321;
        }

        &.level- {
            &nope {
                &::before {background-color: #d6d6d6; }
                .dot {
                    background-color: #d6d6d6;
                    background-image: url('/images/icon-check-mark.png');
                    background-repeat: no-repeat;
                    background-size: 30px;
                }
            }
            &current {
                &::before {background-color: #7ED321; }
                .dot {
                    background-color: #7ED321;
                    background-image: url('/images/icon-check-mark.png');
                    background-repeat: no-repeat;
                    background-size: 30px;
                }
            }
            &done {
                &::before {background-color: #7ED321; }
                .dot {
                    background-color: #7ED321;
                    background-image: url('/images/icon-check-mark.png');
                    background-repeat: no-repeat;
                    background-size: 30px;
                }
            }
        }
    }

    .dot {
        position: absolute;
        width: 30px;
        height: 30px;
        display: block;
        top: 0;
        left: 50%;
        // margin-top: -15px;
        margin-left: -15px;
        border-radius: 50%;
    }
}

.ftu-intro {
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
}

.ftu-arrow {
    position: absolute;
    width: 33px;
    height: 21px;
    top: -21px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-image: url('/images/ftu-arrow.png');
    background-size: 33px;
}

.ftu-panel {
    position: relative;
    margin-top: 21px;
}

/**********************************
Sign up and log in
**********************************/

// button styling
.btn-ww {
    &-lg, &-md {
        border-radius: 100px;
        font-size: 14px;
        color: #FFDC10;
        position: relative;
    }

    &-fb {
        border-radius: 100px;
        background-color: #3B579D;
        color: white;
        border-color: #3B5998;
        border-bottom-color: #263a63;
        &:hover {
            background-color: #4568b2;
            border-bottom-color: #2d4575;
            color: white;
        }
    }
}

//icons
.wwicon img{
    position: relative;
    display: inline-block;
    width: 31px;
    height: 31px;
}

// signup separator
.signup-or-separator {
    background: none;
    height: 34px;
    position: relative;
    text-align: center;
    margin: 18px 0;
    &--text {
        background-color: #fff;
        display: inline-block;
        padding: 8px;
        margin: 0;
    }
    hr {
        margin: -16px auto 10px;
        width: 100%;
    }
}

//registration and login
.panel-ww-registration, .panel-ww-login {
    max-width: 450px;
}
.panel-heading-ww {
    background-color: white !important;
    background-image: url('/images/bg-icons.png');
    background-size: 396px;
    background-position: 0 -30px;
    padding: 20px 20px;

    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.sign-in {
    &__no-account {
        line-height: 34px;
    }
}

.ww-user-type {
    .btn-group { padding: 10px 60px; }
    h4 { margin: 40px 0 10px; }
}

// Form UI
.form-group {
    margin-bottom: 30px;
}

.help-block {
    margin-top: -5px;
    font-size: 12px;
}

.btn-garis {
    text-decoration: underline;
}

.btn-arrow {
    position: absolute;
    right: 24px;
}

.ftu-or {
    margin-top: 10px;
    &:hover {
        text-decoration: none;
    }
}
// Banner
.ww-banner {
    background-image: url(/images/banner-00.png);
    height: 297px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}